* {
    font-family: "Roboto Mono", monospace;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

h1, input, .icon, .cell-type {
    margin: 5px;
}

h1 {
    height: 40px;
}

header {
    display: flex;
    border-bottom: 2px solid black;
    position: relative;
    z-index: 2;
}

.right-icons {
    margin-left: auto;
    display: flex;
}

section {
    position: absolute;
    z-index: 1;
    top: 50px;
    left: 0;
}

.separator {
    border: 0;
    border-left: 1px solid #ccc;
    margin: 10px 0;
}

.icon {
    font-size: 40px;
}

article {
    display: flex;
    background-color: white;
}

.tool-box {
    width: fit-content;
    border-radius: 0 0 15px 0;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
}

.fa-pen {
    cursor: pointer;
}

.cell-types {
    width: fit-content;
    height: fit-content;
    flex-direction: column;
    border-radius: 0 0 10px 0;
    justify-content: center;
    align-items: center;

    
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;

    position: relative;
    z-index: 3;
    top: 0;
    left: 140px;
   
    display: none;
}

.cell-types.shown {
    display: flex;
}

.cell-type {
    border: 5px solid black;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: ease;
}

.cell-type:hover {
    width: 45px;
    height: 45px;
    margin: 0px;
}

.ct-eraser {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ct-eraser * {
    margin: 0;
    font-size: 20px;
}

.ct-cable {
    background-color: #3ecf5e;
}

.ct-inverter {
    background-color: #ffb800;
}

.ct-delay {
    background-color: #ff5aaa;
}

canvas {
    background-color: bisque;
    flex: 1;
}
