* {
  font-family: "Roboto Mono", monospace;
  background-color: rgb(5, 5, 31);
  color: white;
}

header {
  display: flex;
}

.divider {
  background-color: #e0e0e0;
}

.divider-vertical {
  width: 1px;
  height: 24px;
}

.divider-horizontal {
  width: 100%;
  height: 1px;
}
